<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1> Add a Location</h1>
<br>
<form >
  <fieldset>
    <image-upload
      [url]="'http://localhost:3000/api/location/addPhoto'"
      [max]="20"
      [buttonCaption]="'Add Images'"
      [maxFileSize]="104857600"
      (uploadFinished)="onUploadFinished($event)"
      (removed)="onRemoved($event)">
    </image-upload>
    <br>
    <h2>Add some tags here to make your location more findable</h2>
    <mat-form-field class="tag-list">
     <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
       [removable]="removable" (remove)="remove(tag)">
        {{tag.name}}
       <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
       <input placeholder="New tag..."
           [matChipInputFor]="tagList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)" />
     </mat-chip-list>
    </mat-form-field>
    <br>

    <label> Title</label>
    <input type="text" [(ngModel)]="newLocation.title" name="title"/>
    <br><br>
    <label> City </label>
    <input type="text" [(ngModel)]="newLocation.city" name="city"/>
    <br><br>
    <label> Availability </label>
    <input type="text" [(ngModel)]="newLocation.availability" name="availability"/>
    <br><br>
    <label> Price </label>
    <input type="text" [(ngModel)]="newLocation.price" name="price"/>
    <br><br>
</fieldset>

  <button (click)="submit(newLocation)"> Add Location </button>
</form>
