<head>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</head>

<div style="text-align:center">
  <ul>
  <li><a [routerLink]="['/']">Home</a></li>
  <li><a [routerLink]="['/explore']">Explore</a></li>
  <li><a [routerLink]="['/newlocation']">Add Location</a></li>
  <li><a [routerLink]="['/user']">User Profile</a></li>
  <li><a [routerLink]="['/login']">Log in</a></li>
  <li><a [routerLink]="['/signup']">Get Started</a></li>
  </ul>

  <router-outlet></router-outlet>

</div>
