<h1> Locations list </h1>

<ul class="cards">
  <li *ngFor="let e of location" class="cards__item">
    <div class="card">
    <div class="card__image" [ngStyle]="{'background-image': 'url(' + e.picture[0] + ')'}"> </div>

      <div class="card__content">
        <div class="card__title">{{ e.title }}</div>
        <h3 class="card__text">{{ e.city }}</h3>
        from {{ e.price }}€ per day
         <p> available in {{ e.availability }} days </p>
         <p class="tag">  Tags: {{e.tags}}</p>
         {{ e._creator }}
        <button [routerLink]="[e._id]" class="btn btn--block card__btn">View</button>
      </div>
    </div>
  </li>
</ul>
