<div class="form-style-6">
  <form>
    <h1 style="text-align:center">Signup</h1>
    <label> Name </label>
    <br>
    <input type="text" [(ngModel)]="formInfo.username" name="username" />
    <br>
    <label> Lastname </label>
    <br>
    <input type="text" [(ngModel)]="formInfo.lastname" name="lastname" />
    <br>
    <label> Email </label>
    <input type="text" [(ngModel)]="formInfo.email" name="email" />
    <br>
    <label> Password </label>
    <input type="text" [(ngModel)]="formInfo.password" name="password" />
    <br>
    <label> About </label>
    <input type="text" [(ngModel)]="formInfo.about" name="about" />
    <br>
    <label> Phone </label>
    <input type="text" [(ngModel)]="formInfo.phone" name="phone" />
    <br>
    <label> City </label>
    <input type="text" [(ngModel)]="formInfo.city" name="city" />
    <br>
    <!-- <label>Profile</label>
  <select name="role" [(ngModel)]="formInfo.role">
   <option value="Locator" selected="selected">Locator</option>
   <option value="Renter">Renter</option>
  </select>
  <br> -->
    <button (click)="signup(formInfo)"> signup </button>
  </form>
</div>
