<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

  <div *ngIf="location" >
    <div class="location-thumbnail">
      <!-- <img height="300" [src]="location[0].picture" /> -->
    </div>
    
    <p></p>
<section class="cover">
  <img [src]="location.picture[0]" />
</section>

<section class="container flex-container">
<section class="flex3">
    <div>
      <h1>{{location.title}}</h1>
      <h2 style="color:#434343;">{{location.city }}</h2>

      <p style="color:#646464;"><i class="fa fa-calendar" aria-hidden="true"> </i>  Available in {{ location.availability }} days</p>
      <p style="color:#797979;">{{location.about}}</p>
      <br><br><br><br>
    </div>
    <button (click)="deleteLocation(location._id)"> Delete Location </button>
    <button [routerLink]="['/explore']" class="btn btn--block card__btn">More Locations</button>
</section>

 <section class="form-style-6 flex1">
    <form style="text-align:center">
      <h1>{{ location.price }}€/day</h1>
      <br>
      <input [(ngModel)]="mailInfo.date" type="date" placeholder="Date" name="date" />
      <br>
      <input [(ngModel)]="mailInfo.availability" type="text" placeholder="Availability"  name="availability" />
      <br><br>
      <button class="btn-form" (click)="sendMail(mailInfo)">Make a Reservation</button>
    </form>
    <p class="error"> {{ error }} </p>
  </section>
</section>
</div>
<br>
