
  <h1> Location details </h1>
  <a [routerLink]="['/explore']"> Back to Explore</a>

  <div *ngIf="location">
    <div class="location-thumbnail">
      <!-- <img height="300" [src]="location[0].picture" /> -->
    </div>

    <div class="location-info">
      <img [src]="location.picture" />
      <h2> {{ location.title}}</h2>
      <h3> {{ location.city }} </h3>
      <p> {{ location.type }} </p>
      <p> from {{ location.price }}€ per day </p>
      <p> available in {{ location.availability }} days </p>
    </div>
    <button (click)="deleteLocation(location._id)"> Delete Location </button>

 <div class="form-style-6">
    <form>
      <h1 style="text-align:center, font-size:70px">{{ location.price }}€/day</h1> 
      <br>
      <input type="date" placeholder="Date"  name="date" />
      <br>
      <input type="text" placeholder="Availability"  name="availability" />
      <br>
      <button>Send</button>
      <br>
      <p>We don't charge you anything yet</p>
    </form>
    <p class="error"> {{ error }} </p>
  </div>
 </div>
