<h1> Location details </h1>
  <a [routerLink]="['/explore']"> Back to list </a>

  <div *ngIf="location">
    <div class="location-thumbnail">
      <!-- <img height="300" [src]="location[0].picture" /> -->
    </div>

    <div class="location-info">
      <h2> {{ location.title}}&nbsp;</h2>
      <h3> {{ location.city }} </h3>
      <p> {{ location.type }} </p>
      <p> from {{ location.price }}€ per day </p>
      <p> available in {{ location.availability }} days </p>
    </div>
    <button (click)="deleteLocation(location._id)"> Delete </button>
  </div>
